## Tabulate building classes by LGA

We are interested to see the distribution of houses broken down by the site conditions and construction type.

In [42]:
import pandas as pd

df = pd.read_csv(r"X:\georisk\HaRIA_B_Wind\projects\qfes_swha\data\derived\exposure\2021\SEQ_ResidentialExposure_NEXIS_2021_M4_updated_v2.csv")

In [44]:
LGAS = [31000, 33430, 35010, 35740, 36250, 36720]
df = df.loc[df.LGA_CODE.isin(LGAS)]

In [15]:
#df.pivot_table(index=['LGA_NAME', 'AS4055_CLASS'],
#                columns='WIND_VULNERABILITY_FUNCTION_ID',
#                   aggfunc='size',
#                   fill_value=0).to_excel(r"X:\georisk\HaRIA_B_Wind\projects\qfes_swha\data\derived\exposure\2021\AS4055_counts.xlsx")

In [25]:
table = df.pivot_table(index=['LGA_NAME', 'AS4055_CLASS'],
                columns='WIND_VULNERABILITY_FUNCTION_ID',
                   aggfunc='size',
                   fill_value=0,)

In [26]:
table

WIND_VULNERABILITY_FUNCTION_ID   dw350  dw351  dw352  dw354  dw355  dw356  \
LGA_NAME           AS4055_CLASS
Brisbane (C)       N2            99041  66898  18284  50492      0      0
                   N3             6484   4839   1196      0   8810      0
                   N4                8      8      3      0      0     61
Gold Coast (C)     N2            12525  19966   5680  22157      0      0
                   N3             4864   6136   1702      0  13600      0
                   N4              384    106     71      0      0    396
                   N5                9      4      2      0      0      0
Moreton Bay (R)    N2            16462  18917   5836  30769      0      0
                   N3             5951   7023   1312      0  10122      0
                   N4               54      9     15      0      0     52
Noosa (S)          N2             1866   2161    835   2961      0      0
                   N3             1586   1502    594      0   1788      0
                   N4              190    120     43      0      0    135
                   N5                0      0      0      0      0      0
Redland (C)        N2             4212   7930   3184   9822      0      0
                   N3             6539   3886   2212      0   2977      0
                   N4              149    101     27      0      0     36
Sunshine Coast (R) N2             8080   8851   3573  16724      0      0
                   N3             4038   5233   2276      0  11346      0
                   N4               96    138     77      0      0    142

WIND_VULNERABILITY_FUNCTION_ID   dw357  dw360  dw361  dw362  dw363
LGA_NAME           AS4055_CLASS
Brisbane (C)       N2                0  96259      0      0      0
                   N3                0      0  10270      0      0
                   N4                0      0      0     57      0
Gold Coast (C)     N2                0  75511      0      0      0
                   N3                0      0  23021      0      0
                   N4                0      0      0    449      0
                   N5                7      0      0      0      4
Moreton Bay (R)    N2                0  52068      0      0      0
                   N3                0      0  15822      0      0
                   N4                0      0      0    102      0
Noosa (S)          N2                0   6722      0      0      0
                   N3                0      0   3512      0      0
                   N4                0      0      0    222      0
                   N5                1      0      0      0      0
Redland (C)        N2                0  17698      0      0      0
                   N3                0      0   5233      0      0
                   N4                0      0      0     55      0
Sunshine Coast (R) N2                0  31005      0      0      0
                   N3                0      0  13178      0      0
                   N4                0      0      0    199      0

We need to evaluate the proportion that would be eligible for retrofit programs. For this, we use the lower 5 deciles of the ADRI index. ADRI is provided at SA2 level, so we need to first load the SA2 level ADRI data and assign eligible/not eligible to each asset based on it's SA2 code.

In [52]:
ADRIdf = pd.read_csv(r"X:\georisk\HaRIA_B_Wind\projects\qfes_swha\data\DRAFT DATA STRUCTURES\1. Work Unit Assessment\SOUTH EAST QUEENSLAND\ADRI_targeted_retrofit_eligability.csv")
eligible = list(ADRIdf[ADRIdf['Targeted_Retrofit']=='Eligible']['SA2_MAIN16'].astype('int64'))

df2 = df.loc[df['SA2_CODE'].isin(eligible)]

In [30]:
table2 = df2.pivot_table(index=['LGA_NAME', 'AS4055_CLASS'],
                columns='WIND_VULNERABILITY_FUNCTION_ID',
                   aggfunc='size',
                   fill_value=0,)

In [36]:
(table2/table).fillna(0).to_excel(r"X:\georisk\HaRIA_B_Wind\projects\qfes_swha\data\derived\exposure\2021\AS4055_counts.retrofit_eligible.xlsx")

In [61]:
df['Eligibility'] = "Ineligible"
df.loc[df.SA2_CODE.isin(eligible),'Eligibility'] = "Eligible"

Unnamed: 0                         566739
AS4055_CLASS                       566738
ROOF_TYPE                          566739
YEAR_BUILT                         566739
LID                                566739
LATITUDE                           566739
LONGITUDE                          566739
MB_CODE                            566739
MB_CAT                             566739
SA1_CODE                           566739
SA2_CODE                           566739
SA2_NAME                           566739
SA3_CODE                           566739
SA3_NAME                           566739
SA4_CODE                           566739
SA4_NAME                           566739
UCL_CODE                           566739
UCL_NAME                           566739
GCC_CODE                           566739
GCC_NAME                           566739
LGA_CODE                           566739
LGA_NAME                           566739
SUBURB                             566739
POSTCODE                           566738
CONSTRUCTION_TYPE                  566739
WALL_TYPE                          566739
REPLACEMENT_VALUE                  566739
CONTENTS_VALUE                     566739
WIND_VULNERABILITY_MODEL_NUMBER    566739
WIND_VULNERABILITY_FUNCTION_ID     566739
WIND_REGION_CLASSIFCATION          566739
WIND_VULNERABILITY_SET             566739
M4                                 566738
M42                                566739
Eligibility                        566739
dtype: int64

In [64]:
table3 = df.pivot_table(index=['LGA_NAME', 'AS4055_CLASS'], columns=['WIND_VULNERABILITY_FUNCTION_ID', 'Eligibility'], aggfunc='size', fill_value=0).to_excel(r"X:\georisk\HaRIA_B_Wind\projects\qfes_swha\data\derived\exposure\2021\AS4055_counts.retrofit_eligible.v2.xlsx")